 body, ul {
    margin: 0;
    padding: 0;
    background-color: greenyellow;
  }
  .about1{
    background-color:orange;
    padding: 10px;
  } 
  ul {
    list-style-type:none; 
    display:flex;
    justify-content: space-around;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 5px;
  }
  
  ul li a img {
    max-height: 100%;
    max-width: 100%;
    margin-right: 10px;
  }
  
  h2 {
    text-align: center;
    color: green;
    margin: 0 50px;
  }  
  div{
    margin: 20px 20px;
    text-align: center;
    background-color: #f5f5f5;
    padding: 10px;
    color: purple;
    font-size: x-large;
    font-weight:bold;
    display: flexbox;
  }